.menu,
.c-menu {
  background: $color-shade-dark;
  border: 1px solid $color-base;
  box-shadow: 0 2px 10px $color-shadow-dark;
  color: $base-font-color;

  .menu_content {
    background: $color-shade-dark !important;
  }

  .menu_filter_container {
    background: $color-base;

    input.menu_filter {
      border: 1px solid $color-shade-mid;

      &:focus {
        border-color: $color-shade-light;
      }
    }

    .icon_search {
      color: $color-highlight;
    }

    .icon_close {
      color: $color-highlight !important;
    }
  }

  #menu_header {
    .menu_simple_header {
      background: $color-shade-darkest;
      border-color: $color-shade-dark;
      color: $base-font-color;

      a {
        color: $base-link-color;

        &:hover {
          color: $base-link-color-active;
        }
      }
    }

    .menu_close {
      color: $base-font-color;
    }
  }

  .section_header {
    .header_label {
      background-color: $color-shade-dark;
      color: $color-highlight;
    }

    > div.header_label_container {
      color: $color-highlight;
    }
  }

  ul li {
    a {

      &, &:not(.inline_menu_link) {
        background: $color-shade-dark;
        border-bottom: 0;
        color: $base-font-color;

        &.delete_link {
          color: $color-red;
        }
      }
    }

    &.highlighted a {
      background: $color-base;
      border-bottom-color: $color-shade-darkest;
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;

      .menu_item_details,
      .prefix,
      i,
      ts-icon {
        color: $base-font-color;
      }

      &.delete_link {
        color: $color-red;
      }
    }

    &.disabled a {
      color: $color-highlight;
    }

    i {
      color: $color-highlight;
    }

    &.divider {
      border-bottom-color: $color-base;
    }

    .menu_item_details {
      color: $color-highlight;
    }
  }

  &:not(.keyboard_active) ul li:hover:not(.disabled) a {
    background: $color-base;
    border-bottom-color: $color-shade-darkest;
    color: $base-font-color;
    text-shadow: 0 1px 0 $color-shadow-light;

    &:not(.inline_menu_link) {
      background: $base-link-color;
    }

    .menu_item_details,
    .prefix,
    i,
    ts-icon {
      color: $base-font-color;
    }

    &.delete_link {
      color: $color-red;
    }
  }

  input {
    background: $color-shade-dark;
    border: 1px solid $color-shade-light;
  }

  textarea {
    background: $color-shade-dark;
    border: 1px solid $color-shade-light;
  }

  #menu_footer {
    .menu_footer {
      background: $color-shade-darkest;
      border-top: 1px solid $color-shade-dark;
    }
  }

  #monkey_scroll_wrapper_for_menu_items_scroller {
    background: $color-shade-dark;
  }

  #menu_list_container {
    #menu_list .menu_list_item {
      a {
        color: $base-font-color;
      }

      &.active a {
        background: $color-shade-light;
        color: $base-font-color;
        text-shadow: 0 1px 0 $color-shadow-light;
      }
    }
  }
}
