.c-message--dense {
  @if global-variable-exists(base-font-family) {
    font-family: $base-font-family;
  }

  .c-timestamp__label {
    color: $base-link-color;
  }

  .c-message__content_header .c-custom_status {
    border-color: $color-shade-dark;
  }
}

.c-timestamp__label {
  color: $base-link-color;
}

.dense_theme {
  ts-message {
    color: $base-font-color;

    @if global-variable-exists(base-font-family) {
      font-family: $base-font-family;
    }

    &.first .message_gutter .timestamp,
    &.selected .message_gutter .timestamp {
      color: $base-link-color;
    }

    .message_content .message_current_status {
      border-color: $color-shade-dark;
    }
  }
}
