// Theme Colors
$color-base: #292D3E;
$color-highlight: #9EACCD;

$color-shade-darkest: #0F111B;
$color-shade-dark: #1F2230;
$color-shade-mid: #292D3E;
$color-shade-light: #494D5B;
$color-shade-lightest: #696C78;

$color-danger: #F07E85;
$color-warning: #E87B65;

// Font Colors
$base-font-color: #9EACCD;

$base-link-color: #80CBC4;
$base-link-color-active: #80CBC4;

$black: #000000;


