#col_flex {
  background: transparent;
}
.p-threads_view_root {
  border: none;
}

.p-threads_view_root,
.p-threads_view__default_background,
.p_threads_view_load_older_button,
.p-threads_view_reply {
  background: $color-shade-dark;
  border: none;
}

.p-threads_view__footer {
  border: 1px solid transparent;
}

.p-threads_footer__input--legacy,
.p-workspace__input,
.p-threads_footer__input {
  .p-message_input_field,
  .p-message_input_field.focus,
  .p-message_input_field.focus~.p-message_input_file_button:not(:hover),
  .c-texty_input {
    background: $color-shade-light;
    border-color: $color-shade-mid;
    border-left: 0;
    color: $base-font-color;
  }

  .p-message_input_file_button {
    background-color: $color-shade-light !important;
    border-color: $color-shade-mid;
    color: $color-highlight;

    &:hover {
      background: $color-shade-mid !important;
      border-color: $color-shade-dark;
      color: $base-font-color;
    }
  }
}

.p-threads_flexpane__header_channel_name {
  color: $base-link-color;

  &:hover {
    color: $base-link-color-active;
  }
}


#flex_contents,
.p-threads_view,
.p-workspace__secondary_view {
  background: $color-base;

  &_header__permalink {
    color: $base-font-color !important;

    .p-threads_view_header__participant_list {
      color: $color-shade-lightest;
    }

  }

  .p-threads_flexpane {
    .p-threads_flexpane__separator_count {
      color: $color-shade-lightest;
    }
  }

  .p-flexpane_header,
  .heading {
    background: $color-shade-dark;
    border-bottom-color: $color-shade-dark;
    color: $base-link-color;

    a,
    .p-threads_flexpane__header_channel_name {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }

      &.close_flexpane {
        color: $base-link-color;
      }
    }

    .cancel_link {
      color: $base-link-color;
    }

    .menu_heading {
      &:hover {
        color: $base-font-color;
      }
    }

    .menu_icon {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  .heading_text {
    color: $base-link-color;
  }

  .subheading:not(.empty) {
    background: $color-base;
    border-top: 1px solid $color-shade-darkest;
    color: $color-highlight;

    p a {
      color: $base-font-color;
    }

    .filter_menu_label.active .arrow_down {
      color: $color-highlight;
    }
  }

  .toolbar_container {
    background: $color-base;
  }

  .p-downloads_list__shift_hint {
    background: $color-shade-dark;
  }

  .flexpane_tab_bar {
    li {
      .tab,
      a {
        color: $base-link-color;
      }

      &:hover {
        border-bottom: 4px solid $color-shade-dark;

        a,
        .tab {
          color: $base-link-color;
        }
      }

      &.active {
        border-bottom: 4px solid $color-shade-dark;

        a,
        .tab {
          color: $base-link-color;
        }
      }
    }
  }

  .help {
    border-top: 5px solid $color-shade-darkest;
    color: $base-font-color;
  }

  i.callout {
    color: $color-highlight;
  }
}

.p-flexpane_header__close,
.close_flexpane {
  color: $color-highlight;

  &:focus,
  &:hover {
    color: $base-font-color;
  }
}

#client-ui.flex_pane_showing #col_flex {
  border-left-color: $color-shade-dark;
}

.p-download_item:hover {
  border-color: $color-highlight;
}

.p-download_item__container .p-download_item__name_row {
  color: $color-highlight;
}

.p-download_item__actions {
  background: $color-shade-light;
}

a.p-download_item__link--show {
  color: $base-link-color;
}

.toolbar_container {
  background: $color-base;
  border-bottom: 1px solid $color-shade-darkest;
  color: $base-font-color;
}

.msg_right_link {
  color: $base-link-color;
}

.message_location_label {
  color: $color-highlight;
}
