#file_list_toggle_users {
  color: $base-link-color;

  &.active:hover,
  &:hover {
    color: $base-link-color-active;
  }

  &.active {
    color: $color-highlight;
  }
}

.c-input_select_options_list_container:not(.c-input_select_options_list_container--always-open) {
  background-color: $color-shade-dark;
  border-color: $color-shade-mid;

  .c-input_select_options_list__option {
    color: $base-font-color;
  }
}

.p-file_upload_dialog__footer_share_inputs .c-input_select {
  color: $base-font-color;
}

// Filters container
.p-file_list__filters {
  background: $color-base;
  border-bottom-color: $color-shade-light;
}

.c-pillow_file__content:after {
  background: linear-gradient(0deg, $black, hsla(0,0%,100%,0) 40px)
}

.c-pillow_file_container {
  border-color: $color-shade-dark;

  &:hover {
    border-color: $color-shade-mid;
  }
}

.c-pillow_file__title {
  color: $color-shade-light;
}

.c-pillow_file__meta {
  color: $color-shade-lightest;
}

// Filter input text
.p-file_list__file_type_select .c-input_select__selected_value--placeholder {
  color: $base-font-color;
}

// Filter input
.c-input_select {
  background-color: $color-shade-light;
  border-color: $color-shade-lightest;
}

// File item
.p-file_list__file.c-pillow_file_container--full_width {
  background: $color-shade-dark;
  border-bottom-color: $color-shade-mid;

  &:focus,
  &:focus-within,
  &:hover {
    background: $color-base;
    border-bottom-color: $color-shade-light;
  }
}

.file_list_item .icon,
.file_reference .icon {
  background: $color-shade-lightest;
  border: 1px solid $color-shade-light;
  color: $base-font-color !important;
}

.filetype_button {
  background: $color-shade-lightest;
  border: 1px solid $color-shade-light;
  color: $base-font-color !important;

  &:hover {
    background: $color-shade-lightest;

    .file_download_label {
      background: $color-shade-light;
      color: $base-font-color;
    }
  }

  .file_title {
    color: $base-font-color;
  }

  .file_download_label {
    background: $color-shade-lightest;
    border-top: 1px solid $color-shade-light;
  }
}

a {
  &.filetype_button_web {
    background: $color-shade-lightest;
    border: 1px solid $color-shade-light;
    color: $base-font-color;

    .filetype_icon {
      background-color: $color-shade-light;
    }
  }

  &.file_download_link {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  &:hover .file_inline_icon {
    color: $color-highlight;
  }

  &.gsheet img,
  &.pdf img {
    background: $color-base !important;
  }
}

html.no_touch a.filetype_button_web:hover {
  border-color: $color-shade-light;

  .file_title {
    color: $base-font-color;
  }
}

.file_header_detailed {
  color: $color-highlight;

  .member {
    color: $base-font-color !important;
  }
}

.file_inline_icon {
  color: $color-highlight;
}

.file_header {
  .member {
    color: $color-highlight !important;
  }

  .title {
    color: $base-font-color;

    a {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }
}

.flexpane_file_title {
  .member,
  .service_link {
    color: $base-link-color !important;
  }

  .title,
  .file_action_list {
    a {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }
}

.file_actions_cog {
  color: $base-link-color !important;

  &:hover {
    color: $base-link-color-active !important;
  }
}

.file_list_item {
  color: $base-font-color;

  a {
    color: $base-link-color;

    &.member {
      color: $base-link-color-active;
    }
  }

  .bullet {
    color: $color-highlight;
  }

  .icon {
    background: $color-shade-lightest;
    border-color: $color-shade-light;
  }

  .ts_icon_comment {
    color: $color-highlight;
  }

  .file_comment_link:hover {
    color: $base-link-color;

    .ts_icon_comment {
      color: $color-highlight;
    }
  }

  .title {
    a {
      color: $base-link-color;
    }
  }

  .share_info {
    .unshare_link {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  .actions {
    a,
    span {
      background-color: $color-shade-dark;
      border: 1px solid $color-shade-lightest;
      color: $base-link-color;
    }

    a {
      &:hover {
        background-color: $color-base !important;
        border-color: $color-shade-lightest;
        color: $base-link-color-active;
      }
    }
  }

  &.post .preview,
  &.space .preview {
    color: $base-font-color;
  }

  #share_dialog,
  &.active,
  &:active,
  &:hover {
    background-color: $color-shade-dark;
    border-color: $color-shade-light;

    .title a {
      color: $base-link-color;
    }

    .actions {
      background-color: transparent;

      a,
      span {
        background-color: $color-shade-dark;
      }
    }
  }
}

.unshare_link {
  color: $base-link-color !important;

  i {
    &::before {
      color: $color-highlight !important;
    }

    &.ts_icon_minus_circle_small:hover::before {
      color: $color-red !important;
    }
  }
}

.snippet_preview pre {
  color: $base-font-color;
}

.file_preview_wrapper {
  .file_preview {
    background: $color-base;

    &:hover {
      background: $color-shade-dark;
    }
  }
}

#file_preview_container .file_meta {
  color: $color-highlight;
}

.file_page_meta {
  color: $color-highlight;
}

#file_page_preview img {
  background: $color-base;
  border: 1px solid $color-shade-darkest;

  &:hover {
    background: $color-shade-dark;
  }
}

.comment_meta {
  color: $color-highlight;
}

.comment {
  .special_formatting_quote .content {
    color: $base-font-color;
  }

  .member {
    color: $base-font-color !important;
  }
}

.comment_body {
  color: $base-font-color;
}

.comment_actions {
  color: $color-highlight;
}

.comment_actions:hover {
  color: $base-font-color;
}

.icon_quote {
  color: $base-font-color;
}

.edit_comment_form,
.comment_form {
  .texty_comment_input {
    background: $color-shade-light;
    border-color: $color-shade-dark;
    color: $base-font-color;

    &.focus,
    &:hover {
      border-color: $color-shade-dark;
    }
  }
}

.tab_container {
  .star_item .message,
  .star_item ts-message,
  .file_list_item,
  .file_comment_item {
    .actions {
      .btn_icon,
      .star_jump {
        background-color: $color-base;
      }

      .btn::after {
        border-color: $color-shade-dark;
      }
    }
  }

  .star_item {
    ts-message .timestamp {
      color: $color-highlight;
    }
  }

  .file_list_item {
    &:focus,
    &:hover {
      background-color: $color-base;
      border-color: $color-shade-dark;
    }

    .star {
      color: $color-highlight;
    }

    .contents {
      .file_comment_link {
        color: $base-link-color;

        .ts_icon {
          color: $base-link-color;
        }

        &:focus,
        &:hover {
          color: $base-link-color-active;

          .ts_icon {
            color: $base-link-color-active;
          }
        }
      }

      .member,
      .service_link,
      .share_info,
      .time {
        color: $color-highlight;
      }
    }

    .filetype_image {
      background-color: $color-shade-darkest;
    }
  }
}

.active .tab_container .file_list_item {
  background-color: $color-base;
}
