#flex_contents .subheading:not(.empty)#mentions_options {
  background-color: $color-base;
  border-bottom-color: $color-shade-dark;
  color: $base-font-color;
}

.mention_day_container_div .day_divider {
  @extend .day_divider;

  &::before {
    background: none;
    border-color: $color-shade-dark;
  }
}

#member_mentions h3 a {
  color: $base-link-color;
}

a.internal_member_link {
  background: $color-shade-dark;
  color: $base-font-color;
}

a.c-member_slug,
.c-member_slug--link,
.c-mrkdwn__subteam--link {
  color: $color-shade-mid !important;
  @if variable-exists(color-danger) == false {
    background: $color-highlight;
    border: 1px solid $color-highlight;
  }
  @if variable-exists(color-danger) == true {
    background: $color-warning;
    border: 1px solid $color-warning;
  }

  &.active,
  &:hover {
    @if variable-exists(color-danger) == false {
      background: $color-shade-mid;
      color: $base-font-color;
    }
    @if variable-exists(color-danger) == true {
      background: darken($color-warning, 7%);
      border: 1px solid darken($color-warning, 7%);
    }
  }
}
